:root {
  --background-color: #0a192f;
  --highlight-color: #00ffc3;
  --dark-branding-color: #133040;
  --light-branding-color: #fff;
  --main-font: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--light-branding-color);
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  padding: 1rem;
  font-size: 18px;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--light-branding-color);
  background-image: linear-gradient(
    var(--background-color) 75%,
    var(--highlight-color) 25%
  );
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
}

.navbar-links li a:hover {
  background-size: 100%;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--light-branding-color);
  display: none;
}

/* HERO SECTION */
.hero-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  background-size: cover;
}

.hero-content {
  color: var(--light-branding-color);
  padding: 200px 0;
  text-align: center;
}

h1 {
  font-weight: 400;
}

.highlight {
  color: var(--highlight-color);
}

.button {
  margin-top: 40px;
}

.button a {
  text-decoration: none;
  color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  padding: 10px 15px;
}

.button a:hover {
  background-color: var(--highlight-color);
  color: var(--background-color);
}

.button i {
  transition: all 0.4s ease;
}

.button i:hover {
  transform: rotateZ(90deg);
}

@media (max-width: 400px) {
  .toggle-button {
    display: block;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    position: fixed;
  }

  .navbar-links li {
    text-align: center;
    background-color: var(--dark-branding-color);
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
