@media screen and (max-width: 576px) {
  /* --- Navbar --- */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .logo {
    margin: 1.5rem;
  }

  .toggle-button {
    display: block;
  }
  .toggle-button .bar {
    transition: all 0.2s ease-in;
  }

  .toggle-button.open .bar-center {
    transform: translateX(-10px);
    background: transparent;
  }

  .toggle-button.open .bar-top {
    transform: rotate(45deg) translate(5.6px, 5.6px);
  }

  .toggle-button.open .bar-bottom {
    transform: rotate(-45deg) translate(5.6px, -5.6px);
  }

  .navbar-links {
    position: fixed;
    top: 86px;
    width: 100%;
    transform: translateX(576px);
    transition: all 0.4s ease-in;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
    background-color: var(--dark-branding-color);
  }

  .navbar-links li a {
    text-decoration: none;
    color: var(--light-branding-color);
    display: block;
    background-image: none;
  }

  .navbar-links.active {
    display: flex;
    transform: translateX(0px);
  }

  /* --- Hero --- */
  .hero-content {
    padding: 150px 10px;
  }

  .subtitle {
    margin: 30px 0 50px 0;
  }

  /* --- About --- */
  #about {
    padding-top: 1rem;
  }

  .about-container {
    padding: 1rem;
    flex-direction: column;
  }

  .about-wrapper {
    width: 100%;
  }

  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icon-wrapper {
    padding: 1rem;
  }

  .icon-wrapper p {
    text-align: center;
  }

  .photo-wrapper {
    margin-top: 2rem;
    width: 100%;
  }
  .photo-wrapper img {
    width: 80%;
    box-shadow: 10px 10px rgba(91, 232, 201, 1);
    margin-bottom: 4rem;
  }

  /* --- Work --- */
  #work {
    padding: 1rem;
  }

  .project-wrapper {
    width: 18rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 0.5rem;
  }

  .project-title {
    font-size: 20px;
    margin: 0;
  }

  .project-description {
    font-size: 18px;
  }

  .link-icon {
    display: block;
    font-size: 1.5rem;
  }

  /* --- Contact --- */
  #contact {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }

  form {
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 20px 30px;
  }

  /* --- Footer --- */
  .footer {
    padding: 1rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 902px) {
  /* --- About --- */
  .about-container {
    padding: 2rem;
    flex-direction: column;
  }

  .about-wrapper {
    width: 100%;
  }

  .icon-wrapper {
    padding: 1rem;
  }

  .icon-wrapper p {
    text-align: center;
  }

  .photo-wrapper {
    margin-top: 2rem;
    width: 100%;
  }

  .photo-wrapper img {
    box-shadow: 10px 10px rgba(91, 232, 201, 1);
    margin-bottom: 4rem;
  }

  /* --- Work --- */
  .work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-title {
    margin: 0;
  }

  .link-icon {
    display: block;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 903px) and (max-width: 1200px) {
  /* --- About --- */
  .about-container {
    padding: 2rem;
  }

  .about-wrapper {
    width: 60%;
  }

  .photo-wrapper {
    width: 35%;
  }

  .photo-wrapper img {
    box-shadow: 10px 10px rgba(91, 232, 201, 1);
  }

  /* --- Work --- */
  .work-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .project-title {
    margin: 0;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .link-icon {
    display: block;
    font-size: 1.5rem;
  }
}
